
<div class="main">
    <div class="card ">
        <div class="card-body forms">
            <div class="input-group mb-3">
                <input type="text" #email class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">@</span>
                </div>
              </div>

              <div class="input-group mb-3">
                <input type="text" #password class="form-control" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1">@</span>
                </div>
              </div>

              <div class="div text-right">
                <button class="btn btn-primary" (click)="login(email,password)"  (click)="openSnackBar()" >Log-in</button>
              </div>
        </div>

    </div>
</div>
